h1{
    color: green;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.world{
    font-size: 30px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}